{% extends 'base.html' %}
{%block title%}
{{ _('Reset password') }}
{%endblock%}
{%block nav%}
{%endblock%}
{% block body %}

<form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form" class="form-layout">
  <h3 class="form-layout-heading">{{ _('Reset password') }}</h3>
  <hr class="colorgraph"><br>
  {{ reset_password_form.hidden_tag() }}


  <div class="md-form">
    <i class="fa fa-key prefix grey-text"></i>
    {% if reset_password_form.password.errors %}
    {{ reset_password_form.password(class="form-control is-invalid") }}
    {% else %}
    {{ reset_password_form.password(class="form-control") }}
    {% endif %}
    <div class="invalid-feedback">
      {{ reset_password_form.password.errors[0] }}
    </div>
    {{reset_password_form.password.label()}}
  </div>

  <div class="md-form">
    <i class="fa fa-exclamation-triangle prefix grey-text"></i>
    {% if reset_password_form.password_confirm.errors %}
    {{ reset_password_form.password_confirm(class="form-control is-invalid") }}
    {% else %}
    {{ reset_password_form.password_confirm(class="form-control") }}
    {% endif %}
    <div class="invalid-feedback">
      {{ reset_password_form.password_confirm.errors[0] }}
    </div>
    {{reset_password_form.password_confirm.label()}}
  </div>
  <div class="text-center mt-4">
    <button class="btn btn-primary" type="submit">{{_('Reset')}}<i class="fa fa-paper-plane-o ml-2"></i></button>
  </div>
</form>

{%endblock%}
{%block footer%}
{%endblock%}
