{% extends 'base.html' %}
{%block title%}
{{_('Change Password')}}
{%endblock%}
{%block nav%}
{%endblock%}
{% block body %}

{% include "security/_messages.html" %}
<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form" class="form-layout">
  <h3 class="form-layout-heading">{{ _('Change Password') }}</h3>
  <hr class="colorgraph"><br>

  {{ change_password_form.hidden_tag() }}


  <div class="md-form">
    <i class="fa fa-key prefix grey-text"></i>
    {% if change_password_form.password.errors %}
    {{ change_password_form.password(class="form-control is-invalid") }}
    {% else %}
    {{ change_password_form.password(class="form-control") }}
    {% endif %}
    <div class="invalid-feedback">
      {{ change_password_form.password.errors[0] }}
    </div>
    {{change_password_form.password.label()}}
  </div>

  <div class="md-form">
    <i class="fa fa-key prefix grey-text"></i>
    {% if change_password_form.new_password %}
    {{ change_password_form.new_password(class="form-control is-invalid") }}
    {% else %}
    {{ change_password_form.new_password(class="form-control") }}
    {% endif %}
    <div class="invalid-feedback">
      {{ change_password_form.new_password.errors[0] }}
    </div>
    {{change_password_form.new_password.label()}}
  </div>

  <div class="md-form">
    <i class="fa fa-exclamation-triangle prefix grey-text"></i>
    {% if change_password_form.new_password_confirm.errors %}
    {{ change_password_form.new_password_confirm(class="form-control is-invalid") }}
    {% else %}
    {{ change_password_form.new_password_confirm(class="form-control") }}
    {% endif %}
    <div class="invalid-feedback">
      {{ change_password_form.new_password_confirm.errors[0] }}
    </div>
    {{change_password_form.new_password_confirm.label()}}
  </div>

  <div class="text-center mt-4">
    <button class="btn btn-primary" type="submit">{{_('Submit')}}<i class="fa fa-paper-plane-o ml-2"></i></button>
  </div>
</form>

{%endblock%}
{%block footer%}
{%endblock%}
